<nav>
  <div>
    <a href="/src/index.html">
      <img
        src="/src/assets/images/logo-fogonazo.svg"
        alt="Logo del sitio"
      />
      <span>Fogonazo!</span>
    </a>

    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span></span>
    </button>

    <div id="navbarNav">
      <ul>
        <li>
          <a href="/src/pages/speakers.html">Speakers</a>
        </li>
        <li>
          <a href="/src/pages/blog.html">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
