<!-- CAROUSEL -->
<!-- TODO: Carousel. Ejemplo: https://www.wander.com -->
<div class="relative w-[90cqi] md:w-[60cqi] mx-auto" >
    <!-- Carousel wrapper -->
     <div id="carousel-wrapper" class="relative w-full h-110 overflow-hidden scroll-smooth">
        <!-- Item 1 -->
        <img src="../assets/images/carrousel-1.jpg" alt="Vista de pequeño pueblo costero con montañas al fondo"
            class="absolute top-0 left-0 w-full object-cover" />
        <!-- Foto de David Vives: https://www.pexels.com/es-es/foto/mar-ciudad-casas-agua-10473372/ -->
        
        <!-- Item 2 -->
        <img src="../assets/images/carrousel-2.jpg" alt="Vista de un pequeño pueblo en medio de verdes prados"
            class="hidden absolute top-0 left-0 w-full object-cover" />
        <!-- Foto de SlimMars 13: https://www.pexels.com/es-es/foto/paisaje-casas-pueblo-edificios-24536586/ -->

        <!-- Item 3 -->
        <img src="../assets/images/carrousel-3.jpg" alt="Vista de barricas de madera en una bodega"
            class="hidden absolute top-0 left-0 w-full object-cover" />
        <!-- Foto de Michel Meuleman: https://www.pexels.com/es-es/foto/botellas-de-madera-fondo-de-pantalla-sotano-5690802/ -->
    </div>
     <button class="text-8xl font-light cursor-pointer" id="slide-arrow-prev">
    &#8249;
  </button>
  
  <button class="text-8xl font-light cursor-pointer" id="slide-arrow-next">
    &#8250;
  </button>
</div>