<!-- CAROUSEL -->
<div class="relative w-[90cqi] md:w-[60cqi] mx-auto">
  <!-- Carousel wrapper -->
  <div id="carousel-wrapper" class="relative w-full aspect-[16/9]  overflow-hidden scroll-smooth">
    <!-- Item 1 -->
    <img src="{{ image1 }}" alt="{{ alt1 }}" class="absolute top-0 left-0 w-full object-cover" />
    <div class="sr-only">
      {{ srOnly1}}
    </div>

    <!-- Item 2 -->
    <img src="{{ image2 }}" alt="{{ alt2 }}" class="hidden absolute top-0 left-0 w-full object-cover" />
    <div class="sr-only">
      {{ srOnly2}}
    </div>

    <!-- Item 3 -->
    <img src="{{ image3 }}" alt="{{ alt3 }}" class="hidden absolute top-0 left-0 w-full object-cover" />
    <div class="sr-only">
      {{ srOnly3}}
    </div>
  </div>
  <button
    class="absolute left-4 md:left-10 top-1/2 -translate-y-1/2 text-6xl md:text-8xl font-light text-white cursor-pointer"
    id="slide-arrow-prev">
    &#8249;
  </button>

  <button
    class="absolute right-4 md:right-10 top-1/2 -translate-y-1/2 text-6xl md:text-8xl font-light text-white cursor-pointer"
    id="slide-arrow-next">
    &#8250;
  </button>
</div>