/* Here we define theme variables for colors, fonts, and other design tokens */

@theme {
    --font-sans: "Inter Tight", "Helvetica", sans-serif;

    --font-weight-thin: 100;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --color-complementary: #5268ff;
    --color-info: #a8b3ff;
    --color-medium: #fc7851;
    --color-regular: #fc3e00;
    --color-light: #fcb1a9;
    --color-xlight: #fcefa9;
    --color-white: #fffaf7;
    --color-grey: #7d7d7d;
    --color-black: #212529;
}

/* TODO: Adaptar colores a display-p3 */
@supports (color: color(display-p3 1 1 1)) {
  @theme {
    --color-regular: color(display-p3 0.99 0.3 0.11)
  }
}