/* Here we define theme variables for colors, fonts, and other design tokens */
@import "tailwindcss";

/*  
Fonts variables
$font-sans-serif: "Inter Tight", "Helvetica", sans-serif;

Font weights 
$font-thin: 100;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-bk: 900;

Color variables
$color-complementary: #5268ff;
$color-info: #a8b3ff;
$color-medium: #fc7851;
$color-regular: #fc3e00;
$color-light: #fcb1a9;
$color-xlight: #fcefa9;
$color-white: #fffaf7;
$color-grey: #7d7d7d;
$color-black: #1e1e1e;
*/

@theme {
    --font-sans: "Inter Tight", "Helvetica", sans-serif;

    --font-weight-thin: 100;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --color-complementary: #5268ff;
    --color-info: #a8b3ff;
    --color-medium: #fc7851;
    --color-regular: #fc3e00;
    --color-light: #fcb1a9;
    --color-xlight: #fcefa9;
    --color-white: #fffaf7;
    --color-grey: #7d7d7d;
    --color-black: #1e1e1e;
}
